body{
    background-color: #24252a;
}

header{
    background-color: #24252a;
}

main{
    height: 100vh;
 }
.news_page{
    margin-top: 50px;
    padding: 2% 5%;
}

h1 {
    padding-top: 30px;
    padding-bottom: 0%;
    color: #edf0f1;
}
.news_preview{
    display: flex;
    padding: 20px 0;
}

.news_box{
    margin: 20px 0;
    height: 60vh;
    width: 30vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: #edf0f1 1px solid;
    border-radius: 20px;
    align-items: center;
}

.post_text{
    height: 30vh;
    width: 30vw;
    padding: 20px 3%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.more_link{
    color: #24252a;
}

.more_link:hover{
    color: peru;
}

.post_title h2{
    color: #24252a;
    padding-bottom: 3%;
}

.post_title h2:hover {
    color: peru;
}

.post_paragraph p {
    color: #24252a;
}

.post_image {
    height: 300px;
    width: 100%;
    object-fit:cover;
    border-radius: 20px;
    margin: 20px 0 0 0;
    padding: 0;
}
